{{ $link := trim .Page.RelPermalink "/" }}
<div class="container">
	<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
		<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
			<svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
			<span class="fs-4">Tetiana Cherevan</span>
		</a>

		<ul class="nav nav-pills">

			{{ $active := false }}{{ if eq $link "" }}{{ $active = true }}{{ end }}
			<li class="nav-item"><a href="/" class="nav-link {{ if $active }}active{{ end }}" aria-current="page">Home</a></li>
			{{ $active = (hasPrefix $link "products") }}
			<li class="nav-item"><a href="/products" class="nav-link {{ if $active }}active{{ end }}">Products</a></li>
			{{ $active = (hasPrefix $link "values") }}
			<li class="nav-item"><a href="/values" class="nav-link {{ if $active }}active{{ end }}">Values</a></li>
			{{ $active = (hasPrefix $link "post") }}
			<li class="nav-item"><a href="/post" class="nav-link {{ if $active }}active{{ end }}">Blog</a></li>
			{{ $active = (hasPrefix $link "contact") }}
			<li class="nav-item"><a href="/contact" class="nav-link {{ if $active }}active{{ end }}">Contact</a></li>
		</ul>
	</header>
</div>
